<!--
  File Name: footer.ejs
  Student's Name: Amirhossein Mozafarikhosravi
  StudentID: 301223709
  Date: October 2nd, 2023
-->


<footer style="background-color: #333; color: white; text-align: center; padding: 1em;">
    <p>Copyright © 2023 by Amirhossein Mozafarikhosravi. All rights reserved.</p>
  </footer>
</body>
</html>
