<!--
  File Name: header.ejs
  Student's Name: Amirhossein Mozafarikhosravi
  StudentID: 301223709
  Date: October 2nd, 2023
-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Portfolio</title>
  <style>
    body {
      background-color: #28AE8F;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    li {
      float: left;
      display: inline;
      margin-right: 10px;
    }
  </style>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/index">Home</a></li>
      <li><a href="/about">About Me</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact Me</a></li>
    </ul>
  </nav>
