<!--
  File Name: about.ejs
  Student's Name: Amirhossein Mozafarikhosravi
  StudentID: 301223709
  Date: October 2nd, 2023
-->


<!-- File Name: about.ejs -->
<% include partials/header %>

<!-- About Me Section -->
<div style="padding-top: 20px;">
  <h2>About me</h2>
  <img src="/images/photo.jpeg" width="300" height="300px"/>
  <table>
    <tr> 
      <td>Name: </td>
      <td>Amirhossein Mozafarikhosravi</td>
    </tr>
    <tr> 
      <td valign="top">About me: </td>
      <td>
        My name is Amir Mozafari, and I am an international student at Centennial College. I was born and raised in Yazd, Iran, and I am studying Software Engineering Technology Diploma.
        <br>
        I like to make beats. 
        I am passionate about making good music and sampling different records to use in my songs and create a new song out of them.
      </td>
    </tr>
    <tr> 
      <td>Resume: </td>
      <td><a href="/files/sample_resume.pdf">Click Here</a></td>
    </tr>
  </table>
</div>

<% include partials/footer %>
