<!--
  File Name: contact.ejs
  Student's Name: Amirhossein Mozafarikhosravi
  StudentID: 301223709
  Date: October 2nd, 2023
-->

<!-- File Name: contact.ejs -->
<% include partials/header %>

<!-- Contact Me Section -->
<div style="padding-top: 20px;">
  <h2>Contact Me</h2>
  <table>
    <tr>
      <td>Contact number: </td>
      <td>(+1) 6047231746</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>amozafa2@my.centennialcollege.ca</td>
    </tr>
  </table>
</div>

<% include partials/footer %>
