<!--
  File Name: home.ejs
  Student's Name: Amirhossein Mozafarikhosravi
  StudentID: 301223709
  Date: October 2nd, 2023
-->


<!-- File Name: home.ejs -->
<% include partials/header %>

<!-- Home Section -->
<div style="padding-top: 20px; color:white;">
  <div style="font-family: Courier;">
    <p>Hello and welcome, everyone. What you are seeing now is my personal website.</p>
    <p>I am honored that you chose my website to visit. For any further information, you can 
    <a href="/about">click here</a> to see more about me.</p>
    <p><strong>Mission</strong></p>
    <p>Expressing my passion as a Software Engineering Technology student and my potential.</p>
  </div>
</div>

<% include partials/footer %>
