<!--
  File Name: projects.ejs
  Student's Name: Amirhossein Mozafarikhosravi
  StudentID: 301223709
  Date: October 2nd, 2023
-->


<!-- File Name: projects.ejs -->
<% include partials/header %>

<!-- Projects Section -->
<div style="padding-top: 20px;">
  <h2>Projects</h2>
  <table>
    <tr>
      <td><img src="/images/project1.jpg" height="100px"></td>
      <td>
        <strong>A Smart Security Surveillance System</strong><br>
        Utilizing cutting-edge AI methodologies to ensure vigilant surveillance 24/7.<br>
        Role: Design
      </td>
    </tr>
    <tr>
      <td><img src="/images/project2.jpg" height="100px"></td>
      <td>
        <strong>Personality Analysis</strong><br>
        This initiative focuses on assessing an individual's character based on their social media activities.
      </td>
    </tr>
    <tr>
      <td><img src="/images/project3.jpg" height="100px"></td>
      <td>
        <strong>A Liar Robot</strong><br>
        Typically, robots are truthful. This project aims to build a clever robot capable of lying, imitating human-like behavior.
      </td>
    </tr>
  </table>
</div>

<% include partials/footer %>
