<%- include('partials/header') %>

<!--
  File Name: services.ejs
  Student's Name: Amirhossein Mozafarikhosravi
  StudentID: 301223709
  Date: October 2nd, 2023
-->

<!-- Navigation -->
<table>
    <tr><img src="/images/logo.png" height="100px"/></tr>
    <tr>
      <td><a href="/">Home</a></td>
      <td><a href="/about">About me</a></td>
      <td><a href="/projects">Projects</a></td>
      <td><a href="/services">Services</a></td>
      <td><a href="/contact">Contact Me</a></td>
    </tr>
  </table>
  
  <!-- Services Offered Section -->
  <div style="padding-top: 20px;">
    <h2>Services Offered</h2>
    <ol>
      <li>Documentation and Demonstrations</li>
      <li>Implementation and Setup</li>
      <li>Operational Improvements</li>
      <li>Custom Software Development</li>
    </ol>
  </div>

  <%- include('partials/content') %> 
<%- include('partials/footer') %>
